header{
    font-size: 13px;
    text-align: left;
    line-height: 15px;

    h1{
        font-size: 64px;
        font-weight: 300;
        text-align: left;
        margin-top: 6px;
    }

    .proud{
        float:left;
        margin: 20px 15px 0 25px;
        width: auto;
        box-shadow: none;
        background: none;
        p {
            display: none;
        }
        .title{
            font-size: 4.5em;
            font-weight: bold;
            border: none;
        }
    }
    .logo-socib{
        float: left;
        height: 100%;
        margin: 10px 25px 0 25px;
    }
    .qrcode{
        float: right;
        width: 100px;
        height: 100%;
        margin: 10px 5px 0px 20px;
    }
    .logos{
        float: right;
        margin-top: 25px;
        margin-left: 10px;

        img{
            display: inline-block;
            vertical-align: middle;
            margin-right: 15px;
        }
    }

}

.widget-beamon {
    .waveforecast {
        background-size: 50px 225px;
        background-image: url(/static/images/sapo_scale.png);
    }

    .beamon-image{
        height: 225px;
    }
}

.widget-deployments{
    padding-bottom: 33px;
}

.widget-mooring-variables{
    padding-bottom: 19px;
}


.custom-clock{
    float: right;
    text-align: right;
    margin-top: -20px;
    .widget-clock{
        border: none;
        text-align: right;
        width: auto;
        box-shadow: none;
        background: none;
        float: right;
        padding: 0;

        div{
            text-align: right;
        }
    }
}


@media (max-width: 960px) {
    h1.section {
        font-size: 20px;
    }

}

@import "../widgets/deployments/deployments.less";
@import "../widgets/mooring_variables/mooring_variables.less";