.widget-clock {
  background-color: #F6B094;
  color: #222;
  text-align: center;
  display: table;

  div{
    text-align: center;
    vertical-align:middle;
    display: table-cell;
    h1{
        font-size: 1em;  
        line-height: 1.25em;  
    } 
    h2{
        font-size: 1.75em;
        line-height: 1.25em;  
    }   
  }

}

