
.widget-beamon {
  overflow: hidden;

  .beamon-image{
    /*width: 100%;*/
    height: 185px;
  }


  .situation{
    width: 98px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    border: 2px solid #ffffff;
  }

  .overlay{
    margin: 10px auto;
    color: @secondary-title-color;
    font-size: 17px;
  }

  .waveforecast {
    background-image: url(/static/images/waves_forecast_colorscale.png);
    background-repeat: no-repeat;
    background-position: right bottom 30px;
    margin-top: 6px;
    background-size: 50px 185px;

    .beamon-image{
      margin-right: 50px;
    }
  }


  .credits{
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 10px;
    font-size: 0.75em;
  }

}


