{% extends "layout-empty.html" %}
{% load i18n %}
{% load static %}
{% load qr_tags %}

{% block title %}{{ location.name }}{% endblock %}

{% block content %}
<header>
<div class="container">
  <div class="row">
    <div class="span6 rowspan1 logos-header">
        <img src="{% get_static_prefix %}images/logo_Socib.png" />      
        <img src="{% get_static_prefix %}images/logo-{{ location.code }}.png" title="{{ location.name }}" />
    </div>  
    <div class="span6 rowspan2">
        <div data-id="proud" data-view="Text" data-title="{{ location.proud_heading }}" data-text="{{ location.proud_body }}" ></div>
    </div>
  </div>
</div>  
</header>
<section class="status">
  <div class="container"> 
    <h1 class="section">Observation</h1> 
    <div class="row">
      <div class="span5 rowspan4">
          <div data-id="beamon2" data-view="Beamon" data-location="{{ location.zone.code }}" data-cameras="{{ location.timelapse_cameras }}" data-type="timelapse" data-title="Beach timelapse"></div>
      </div>
      <div class="span2 rowspan2">
          <div data-id="weather" data-view="WeatherStation" data-location="{{ location.zone.code }}"></div>          
          <div data-id="beach" data-view="BeachFlag" data-location="{{ location.zone.code }}" data-title="Beach alerts"></div>
      </div>  
      <div class="span5 rowspan4">
        <div data-id="beamon" data-view="Beamon" data-title="Beach monitoring" data-location="{{ location.zone.code }}" data-type="latest"  data-cameras="{{ location.latest_cameras }}"></div>
      </div>        
    </div>
  </div>
</section>
<section class="prediction">
  <div class="container">  
    <div class="row">
      <div class="span9">
        <h1 class="section">Forecast</h1>
        <div class="row">
          <div class="span3 rowspan3">
              <div class="waveforecast">
                <div data-id="waveforecast" data-view="Beamon" data-location="{{ location.zone.code }}" data-type="waveforecast" data-title=""></div>
              </div>
          </div>
          <div class="span6 rowspan3">
            <div data-id="forecast" data-view="WeatherForecast" data-location="{{ location.zone.code }}"></div>          

             <!-- <script type='text/javascript' src='http://www.aemet.es/en/eltiempo/prediccion/municipios/launchwidget/son-servera-id07062?w=g4p01111111ohmffffffw670z216x4f86d9t95b6e9r0s3n2'></script><noscript><a target='_blank' style='font-weight: bold;font-size: 1.20em;' href='http://www.aemet.es/en/eltiempo/prediccion/municipios/son-servera-id07062'>El Tiempo. Consulte la predicción de la AEMET para Son Servera</a></noscript>     -->
          </div>      
        </div>
      </div>
      <div class="span3 rowspan3">
        <h1 class="section">Location</h1>
        <img src="http://maps.googleapis.com/maps/api/staticmap?size=430x300&maptype=terrain
&markers=color:blue%7C{{ location.location }}&sensor=false&zoom=10" title="{{ location.name }}" />
      </div>
    </div>
  </div>
</section>
<section class="info">  
  <div class="container">  
    <h1 class="section">More information</h1>
    <div class="row">
      <div class="span4 rowspan3">
          <iframe src="http://player.vimeo.com/video/55355735?autoplay=1&amp;loop=1" width="100%" height="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
      <div class="span6 rowspan1">
          <div data-id="rss2" data-view="RSS" data-title="{{ location.name }} RSS" data-url="{{ location.rss_url }}" ></div>
          <div data-id="rss" data-view="RSS" data-title="SOCIB-News" data-url="http://www.socib.es/feed.php" ></div>          
          <div class="logos-cols pull-right">
              <img src="{% get_static_prefix %}images/logos-colaboradors.png" />      
          </div>                
          <!-- div data-id="clock2" data-view="Clock" data-title="clock" data-min="0" data-max="100"></div-->
      </div>      
      <div class="span2 rowspan1">
          <div data-id="clock2" data-view="Clock"></div>
          <div class="qrcode"><a href="{{ location.get_absolute_url }}">{% qr_from_object location 143 %}</a></div>
      </div>

    </div>
  </div>
</section>
<footer>
  <div class="container">  
    <div class="pull-right">
      SOCIB - 2013
    </div>
  </div>
</footer>

{% endblock content %}

{% block page_js %}
<script src="{% static "js/jquery.backstretch.js" %}" ></script>
<script src="{% static "widgets/text/text.js" %}" ></script>
<script src="{% static "widgets/clock/clock.js" %}" ></script>
<script src="{% static "widgets/beamon/beamon.js" %}" ></script>
<script src="{% static "js/modernizr.custom.js" %}"></script>
<script src="{% static "js/jquery.bookblock.js" %}"></script>
<script src="{% static "widgets/weather_station/weather_station.js" %}" ></script>
<script src="{% static "widgets/weather_forecast/weather_forecast.js" %}" ></script>
<script src="{% static "widgets/weather_station_variable/weather_station_variable.js" %}" ></script>
<script src="{% static "widgets/rss/rss.js" %}" ></script>
<script src="{% static "widgets/beach_flag/beach_flag.js" %}" ></script>
<script src="{% static "js/seawidgets.application.js" %}" ></script>
{% endblock page_js %}
