{% extends "layout-empty.html" %}
{% load i18n %}
{% load static %}
{% load qr_tags %}
{% load compress %}

{% block title %}{{ location.name }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="span12">
      <header>
        <div class="logo-location"><img src="{% get_static_prefix %}images/logo-{{ location.code }}.png" title="{{ location.name }}" /></div>
        <div data-id="proud" data-view="Text" data-title="{{ location.proud_heading }}" data-text="{{ location.proud_body }}" ></div>
        <div class="qrcode"><a href="{{ location.get_absolute_url }}">{% qr_from_object location 149 %}</a></div>
        <div class="logo-socib"><img src="{% get_static_prefix %}images/logo_Socib.png" /></div>
      </header>
    </div>
  </div>
  <div class="row">
    <div class="span8">
      <section class="status">
          <h1 class="section">Observation and real time data</h1>
          <div class="row-fluid">
            <div class="span6">
              <div data-id="beamon" data-view="Beamon" data-location="{{ location.zone.code }}" data-cameras="{{ location.timelapse_cameras }}" data-type="timelapse" data-title="Beach evolution"></div>
              <div data-id="beamon-second" data-view="Beamon" data-title="Beach overview" data-location="{{ location.zone.code }}" data-type="latest"  data-cameras="{{ location.latest_cameras }}"></div>
            </div>
            <div class="span6" style="padding-left:4px;">
              <div data-id="weather" data-view="WeatherStation" data-location="{{ location.zone.code }}"></div>
              <div data-id="beach" data-view="BeachFlag" data-location="{{ location.zone.code }}" data-title="Beach alerts"></div>
              <section class="info">
                <h1 class="section">More information</h1>
                <iframe src="http://player.vimeo.com/video/55355735?autoplay=0&amp;loop=1" width="100%" height="185" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
              </section>
            </div>
          </div>
      </section>
    </div>
    <div class="span4">
      <div data-id="clock2" data-view="Clock"></div>
      <section class="prediction">
        <h1 class="section">Wave and weather forecast</h1>
        <div data-id="forecast" data-view="WeatherForecast" data-location="{{ location.zone.code }}"></div>
        <div data-id="waveforecast" data-view="Beamon" data-location="{{ location.zone.code }}" data-type="waveforecast" data-title=""></div>
      </section>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="span8">
        <div class="logos">
          <img src="{% get_static_prefix %}images/logo_ministerio.png" />
          <img src="{% get_static_prefix %}images/logo_govern.png" />
        </div>
      </div>
      <div class="span2">
        <div class="logos">
          <img src="{% get_static_prefix %}images/logo_puertos.png" />
        </div>
      </div>
      <div class="span2">
        <div class="footer-signature">
          SOCIB - 2013
        </div>
      </div>
    </div>
  </div>
</footer>

{% endblock content %}

{% block page_js %}
<script src="{% static "js/jquery.backstretch.js" %}" ></script>
<script src="{% static "widgets/text/text.js" %}" ></script>
<script src="{% static "widgets/clock/clock.js" %}" ></script>
<script src="{% static "widgets/beamon/beamon.js" %}" ></script>
<script src="{% static "js/modernizr.custom.js" %}"></script>
<script src="{% static "js/jquery.bookblock.js" %}"></script>
<script src="{% static "widgets/weather_station/weather_station.js" %}" ></script>
<script src="{% static "widgets/weather_forecast/weather_forecast.js" %}" ></script>
<script src="{% static "widgets/weather_station_variable/weather_station_variable.js" %}" ></script>
<script src="{% static "widgets/rss/rss.js" %}" ></script>
<script src="{% static "widgets/beach_flag/beach_flag.js" %}" ></script>
<script src="{% static "js/seawidgets.application.js" %}" ></script>
{% endblock page_js %}

{% block page_css %}
  {% compress css %}
    <link type="text/less" href="{% static "css/seawidgets-dash.less" %}" rel="stylesheet" />
  {% endcompress %}
{% endblock page_css %}
