{% extends "layout-empty.html" %}
{% load i18n %}
{% load static %}
{% load qr_tags %}
{% load compress %}

{% block title %}Seaboard{% endblock %}

{% block content %}
<div class="container">
  <!-- div class="row">
    <div class="span12">
      <header>
        <div class="logo-socib"><img src="{% get_static_prefix %}images/logo_Socib.png" /></div>
        <div data-id="proud" data-view="Text" data-title="SOCIB SeaBoard" data-text="" ></div>
      </header>
    </div>
  </div -->
<div class="row">
    <div class="span2">
    </div>
    <div class="span8">
      <header>
        <div class="logo-socib"><img src="{% get_static_prefix %}images/logo_Socib.png" /></div>
        <div class="logos">
          <img src="{% get_static_prefix %}images/logo_ministerio_50.png" />
          <img src="{% get_static_prefix %}images/logo_govern_50.png" />
        </div>
        <div style="clear: both; margin-bottom: 10px;"></div>
      </header>
    </div>
  </div>
  <div class="row">
    <div class="span2">
    </div>
    <div class="span8">
      <div class="hero-unit">
        <h1>SOCIB Seaboard</h1>
        <p>Seaboards are single ‘dashboard’ visualizations of the real time and forecast ocean data currently provided by SOCIB, from different coastal and ocean monitoring locations around the Balearic Islands.</p>

        <p>A specific set of Seaboards has been designed for the tourist sector and these are now installed in several collaborating hotels, providing useful real-time information about the ocean and coastal state, as well as knowledge about science based beach management and environmental preservation. </p>

        <p>SOCIB, the Balearic Islands Coastal Observing and Forecasting System, is an initiative to provide real time coastal and ocean data products and services in response to international science priorities and to respond to pressing society needs, such as beach erosion, sea level rise, and climate variability etc. Through this we contribute to the development and implementation of new technologies and enhance our capacity to sustainably manage our interaction with the coastal and open ocean.</p>
      </div>

      <h2>List of seaboard locations</h2>
      <ul class="nav nav-tabs nav-stacked">
        {% for location in object_list %}
            <li><a href="{{ location.get_absolute_url }}">{{ location.display_name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="span2">
    </div>
  </div>
</div>
{% endblock content %}

{% block page_css %}
  {% compress css %}
    <link type="text/less" href="{% static "css/seawidgets-dashsocib.less" %}" rel="stylesheet" />
  {% endcompress %}
{% endblock page_css %}

{% block page_js %}
  {% compress js %}
    <script src="{% static "widgets/text/text.js" %}" ></script>
    <script src="{% static "widgets/clock/clock.js" %}" ></script>
    <script src="{% static "js/modernizr.custom.js" %}"></script>
    <script src="{% static "js/seawidgets.application.js" %}" ></script>
  {% endcompress %}
{% endblock page_js %}